.intro{
    align-items: center;
    margin: auto;
    width: 50%;
}

#title{
    align-items: center;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.card{
     margin: 20px 20px 20px 20px;
}
/* *{
    background-color: pink;
} */