
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Signika", sans-serif;
}

body{
    background-color: #e7d8d8;
}

.Navbar{
    font-family: 'Signika', sans-serif;
    font-weight: bold;
    background-color: #f8e7e7;
}

.homePage{
    font-family: 'Signika', sans-serif;
    background-color: #f8e7e7;
}